root = true

[*]
end_of_line = lf
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true # retira espaço no final da linha
insert_final_newline = true     # add uma linha em branco no final da pag
